.btt {
    visibility: hidden;
    z-index: 2000;
    position: fixed;
    bottom: 100px;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.178);
    width: fit-content;
    height: fit-content;
    left: 50%;
    padding: 0px 20px;
    border-radius: 20px;
    height: 41px;
    border: 2px solid white;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    fill: white;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    flex-wrap: wrap;
}

.btt.v {
    background-color: rgba(235, 228, 231, 0.15);
    backdrop-filter: blur(2px) saturate(100%);
    -webkit-backdrop-filter: blur(2px) saturate(100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    border-color: rgba(255, 255, 255, 0.4);

    svg {
        transition: all 0.3s ease-in-out;
        fill: rgba(255, 255, 255, 0.4);
    }

    &:hover {
        border-color: rgba(255, 255, 255, 1);
        svg {
            fill: white;
        }
        opacity: 100%;
        box-shadow: 0 0px 10px 3px rgba(202, 202, 202, 0.205);
    }
}
