@import "../../index.css";

.linkbar-wrapper {
    position: fixed;
    right: 100px;
    padding: 10px;
    bottom: 40px;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.linkbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    opacity: 50%;

    &:hover {
        svg {
            stroke-width: 2.3px;
        }

        scale: 1.07;
        opacity: 90%;
    }

    .github&:hover {
        color: rgb(51, 51, 51);
    }

    .instagram&:hover {
        color: rgb(237, 103, 255);
    }

    .mail&:hover {
        color: rgb(255, 98, 98);
    }
}

body.dark-mode a.github:hover {
    color: rgb(206, 206, 206);
}

.linkbar .border {
    background-color: rgba(0, 0, 0, 0.521);
    width: 2px;
    opacity: 50%;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.linkbar button {
    all: unset;
    transition: all 0.2s ease-in-out;
    opacity: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .lucide-moon {
        display: flex;
    }

    .lucide-sun {
        display: none;
    }

    &:hover {
        svg {
            stroke-width: 2.3px;
        }

        scale: 1.07;
        opacity: 90%;
    }
}
