.star-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    overflow: hidden;
}

.stars {
    position: absolute;
    border-radius: 50%;
    background: white;
}

.small {
    width: 2px;
    height: 2px;
    box-shadow: 10vw 10vh #fff, 30vw 30vh #fff, 20vw 80vh #fff, 80vw 10vh #fff,
        50vw 50vh #fff, 90vw 90vh #fff, 30vw 30vh #fff, 60vw 10vh #fff,
        95vw 70vh #fff, 10vw 90vh #fff, 40vw 60vh #fff, 40vw 15vh #fff;
    opacity: 0.4;
}

.medium {
    width: 2px;
    height: 2px;
    background-color: transparent;
    box-shadow: 15vw 15vh #fff, 10vw 30vh #fff, 80vw 30vh #fff, 85vw 85vh #fff,
        95vw 30vh #fff, 23vw 50vh #fff, 63vw 50vh #fff, 86vw 50vh #fff,
        35vw 45vh #fff, 65vw 25vh #fff;
    opacity: 0.7;
}

.large {
    width: 3px;
    height: 3px;
    background-color: transparent;
    box-shadow: 25vw 25vh #fff, 75vw 75vh #fff, 10vw 60vh #fff, 90vw 15vh #fff,
        75vw 50vh #fff;
    opacity: 0.9;
}
