nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 70px;
    align-items: center;
    padding: 20px 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.hotlinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

.hotlinks a {
    color: black;
    text-decoration: none;
    opacity: 40%;

    transition: all 0.2s ease-in-out;

    &:hover {
        scale: 1.1;
        opacity: 100%;
    }
}