nav {
    display: flex;
    justify-content: center;
    height: 41px;
    align-items: center;
    margin-top: 45px;
    position: fixed;
    width: 100%;
    z-index: 200;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 30%;
    max-width: 500px;
    height: 100%;
    background-color: #ebe4e723;
    border-radius: 20px;
    align-items: center;
    padding: 0px 5px;
    background-color: rgba(235, 228, 231, 0.15);
    backdrop-filter: blur(5px) saturate(100%);
    -webkit-backdrop-filter: blur(5px) saturate(100%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    position: relative;
}

.nav-item {
    text-decoration: none;
    color: #555;
    font-weight: 600;
    z-index: 2;
    position: relative;
    transition: color 0.3s ease;
    cursor: pointer;
    padding: 0px 25px;
    margin-top: 2px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-item.active {
    color: white;
    opacity: 1;
}

.indicator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
    left: 0;
    width: 0;
    border: 1px solid #ebe4e72a;
}

.nav a {
    text-decoration: none;
    opacity: 40%;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    color: white;
    font-size: 14px;

    &:hover {
        scale: 1.03;
        opacity: 100%;
    }
}
