@import "../../index.css";

nav {
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    padding: 20px 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.hotlinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

body.dark-mode .hotlinks a {
    color: var(--dark-mode-text-color);
}

.hotlinks a {
    text-decoration: none;
    opacity: 40%;
    color: var(--light-mode-text-color);
    transition: all 0.2s ease-in-out;

    &:hover {
        scale: 1.03;
        opacity: 100%;
    }
}
