.fade-item {
    opacity: 0;
    transform: translateY(20px);
    transition:
        opacity 0.8s ease,
        transform 0.8s ease;
}

.fade-item.in-view {
    opacity: 1;
    transform: translateY(0);
}
