@import "./index.css";

.wrapper {
    width: 100%;
    height: 3250px;
}

.p1,
.p2,
.p3 {
    display: flex;
    width: 100%;
    height: calc(100vh - 250px);
    align-items: center;
    justify-content: center;
    position: relative;
}

.p1w,
.p2w,
.p3w {
    width: 70%;
    display: flex;
    height: max-content;
    flex-direction: column;
    align-items: center;
}

.background-dots,
.top,
.name,
.tagline,
.desc {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s ease-out 1s forwards;
}

.background-dots {
    background-image: url(assets/q-ede3aff2.png);
    position: absolute;
    z-index: 100;
    width: 260px;
    height: 154px;
    background-repeat: no-repeat;
    left: 1000px;
    top: 330px;
    scale: 1.2;
}

body.dark-mode .background-dots div {
    background-image: linear-gradient(
        135deg,
        color(display-p3 0.6196078431 0.4784313725 1 / 1) 0%,
        color(display-p3 0.9960784314 0.5450980392 0.7333333333 / 1) 33.33%,
        color(display-p3 1 0.7411764706 0.4784313725 / 1) 66.67%,
        color(display-p3 0.9725490196 0.9176470588 0.7647058824 / 1) 100%
    );
}

.background-dots div {
    mask-image: url(assets/q-ede3aff2.png);
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    background-color: black;
}

body.dark-mode .top {
    color: #f0f0f0a1;
    opacity: 70%;
}

.top {
    height: 30px;
    width: 100%;
    font-weight: 600;
    font-size: 22px;
    opacity: 40%;
    animation: fadeUp 1s ease-out 0.2s forwards;
}

body.dark-mode .name {
    color: rgb(162, 154, 250);
    opacity: 70%;
}

.name {
    width: 100%;
    font-weight: 700;
    font-size: 80px;
    color: #5a4fcf;

    animation: fadeUp 1s ease-out 0.4s forwards;
}

.tagline {
    width: 100%;
    font-size: 50px;
    font-weight: 700;
    animation: fadeUp 1s ease-out 0.6s forwards;
}

.desc {
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    animation: fadeUp 1s ease-out 0.8s forwards;
}

.p2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    margin-top: 400px;
}

.p2header {
    font-size: 50px;
    font-weight: 700;
}

.p2w {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.p2w::before {
    content: "";
    position: absolute;
    top: 120px;
    bottom: -55px;
    left: 50%;
    width: 4px;
    background: rgba(32, 32, 32, 0.267);
    z-index: 0;
    border-radius: 10px;
}

body.dark-mode .p2w::before {
    background: rgba(141, 141, 141, 0.548);
}

.p2e1,
.p2e2,
.p2e3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    width: 100%;
    height: 100%;
    position: relative;
}

body.dark-mode .p2e1::before,
body.dark-mode .p2e2::before,
body.dark-mode .p2e3::before {
    background: rgba(141, 141, 141, 0.548);
}

.p2e1::before,
.p2e3::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 50%;
    height: 4px;
    border-radius: 10px;
    background: rgba(32, 32, 32, 0.267);
    z-index: 0;
}

.p2e2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    height: 4px;
    border-radius: 10px;
    background: rgba(32, 32, 32, 0.267);
    z-index: 0;
}

.details {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 10px;
}

.title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 5px;
}

.second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tags {
    display: flex;
    align-items: center;
}

.tag {
    padding: 2px 10px;
    background-color: rgba(240, 128, 128, 0.514);
    border-radius: 10px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.date,
.location {
    font-weight: 500;
    color: rgb(173, 173, 173);
    font-size: 15px;
}

.location {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.location span {
    margin-left: 10px;
}

.plink {
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    top: 20px;
    right: 20px;
    position: absolute;
}

.placeholder {
    width: 450px;
    height: 300px;
    background-color: black;
    opacity: 50%;
    border: 2px solid black;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 50px #5a4fcf9f;

    position: relative;

    &:hover {
        scale: 1.02;
        opacity: 40%;
        .plink {
            opacity: 1;
            visibility: visible;
        }
    }
}

.p3 {
    margin-top: 200px;
    height: 200px;
}

.p3w {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p3header {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

.p3a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50%;
}

.p3a button {
    all: unset;
    transition: all 0.2s ease-in-out;
    padding: 10px 35px;
    border-radius: 10px;
    margin-left: 20px;
    font-weight: 600;
    background-color: rgba(32, 32, 32, 0.267);

    &:hover {
        transform: scale(1.02);
        background-color: rgba(240, 128, 128, 0.514);
    }
}

body.dark-mode .p3a button {
    background-color: rgba(141, 141, 141, 0.548);
}

body.dark-mode .p3a input {
    background-color: rgba(32, 32, 32, 0.267);
    color: white;
}

.p3a input:hover {
    outline-color: #d8d8d8;
}

.p3a input {
    border-radius: 5px;
    border: none;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    display: flex;
    flex-grow: 1;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    outline: 2px rgba(141, 141, 141, 0.164) solid;
    transition: all 0.2s ease-in-out;
    color: black;
}

body.dark-mode .p3a input:hover {
    outline-color: rgb(189, 189, 189);
}

.p3a input:focus {
    box-shadow: 0 2px 10px #5a4fcf9f;
}

body.dark-mode .p3a input:focus {
    outline-color: rgb(189, 189, 189);
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
        visibility: hidden;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}
