#root {
    height: 100%;
}

.wrapper {
    height: 200vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.s1 {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

.planet {
    position: fixed;
    bottom: -150vh;
    left: 50%;
    transform: translateX(-50%);
    width: 120vw;
    aspect-ratio: 1 / 1;
    background-color: #1a1a1a;
    box-shadow: 0px -2px 10px rgba(255, 255, 255, 0.1),
        0px -20px 80px rgba(168, 85, 247, 0.4);
    border-radius: 50%;
    z-index: 10;
    pointer-events: none;
    z-index: 20;
}

.name {
    color: white;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.name span.n {
    background: linear-gradient(
        135deg,
        color(display-p3 0.6196 0.4784 1 / 1) 0%,
        color(display-p3 0.9961 0.5451 0.7333 / 1) 33.33%,
        color(display-p3 1 0.7412 0.4784 / 1) 66.67%,
        color(display-p3 0.9725 0.9176 0.7647 / 1) 100%
    );
    background-clip: text;
    color: transparent;
    font-size: 80px;
    width: fit-content;
    font-weight: 700;
}

.name span.desc {
    opacity: 60%;
    font-size: 20px;
}

.bubble {
    position: relative;
    width: fit-content;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 20px;
    background: transparent;
    color: white;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 1;

    &:hover {
        transform: scale(1.01);
    }
}

.bubble::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(
        135deg,
        color(display-p3 0.6196 0.4784 1 / 1) 0%,
        color(display-p3 0.9961 0.5451 0.7333 / 1) 33.33%,
        color(display-p3 1 0.7412 0.4784 / 1) 66.67%,
        color(display-p3 0.9725 0.9176 0.7647 / 1) 100%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    pointer-events: none;
}

.bubble::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
        135deg,
        color(display-p3 0.6196 0.4784 1 / 1) 0%,
        color(display-p3 0.9961 0.5451 0.7333 / 1) 33.33%,
        color(display-p3 1 0.7412 0.4784 / 1) 66.67%,
        color(display-p3 0.9725 0.9176 0.7647 / 1) 100%
    );
    opacity: 30%;
    z-index: -2;
    pointer-events: none;
}

.headline {
    display: flex;
    align-items: center;
    margin-bottom: 130px;
    font-size: 12px;
    margin-top: 130px;

    svg {
        margin-left: 8px;
        width: 15px;
    }
}

.down {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        margin-left: 5px;
    }
}
