#root {
    height: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.s1 {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.planet {
    position: fixed;
    bottom: -80vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    aspect-ratio: 1 / 0.9;
    background-color: transparent;
    border: 1px solid #ebe4e70e;
    border-radius: 50% 50% 0 0;
    box-shadow: rgba(173, 173, 173, 0.25) 0px 50px 100px 20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.name {
    color: white;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.name span.n {
    background: linear-gradient(
        135deg,
        color(display-p3 0.6196 0.4784 1 / 1) 0%,
        color(display-p3 0.9961 0.5451 0.7333 / 1) 33.33%,
        color(display-p3 1 0.7412 0.4784 / 1) 66.67%,
        color(display-p3 0.9725 0.9176 0.7647 / 1) 100%
    );
    background-clip: text;
    color: transparent;
    font-size: 70px;
    width: fit-content;
    font-weight: 600;
}

.name span.desc {
    opacity: 40%;
    font-size: 20px;
}

.bubble {
    position: relative;
    width: fit-content;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 20px;
    background: linear-gradient(
        135deg,
        color(display-p3 0.6196 0.4784 1 / 1) 0%,
        color(display-p3 0.9961 0.5451 0.7333 / 1) 33.33%,
        color(display-p3 1 0.7412 0.4784 / 1) 66.67%,
        color(display-p3 0.9725 0.9176 0.7647 / 1) 100%
    );

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.01);
    }
}

.bubble::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(
        135deg,
        color(display-p3 0.6196 0.4784 1 / 1) 0%,
        color(display-p3 0.9961 0.5451 0.7333 / 1) 33.33%,
        color(display-p3 1 0.7412 0.4784 / 1) 66.67%,
        color(display-p3 0.9725 0.9176 0.7647 / 1) 100%
    );

    --webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    --webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    pointer-events: none;
}

.headline {
    display: flex;
    align-items: center;
    margin-bottom: 130px;
    font-size: 12px;
    margin-top: 130px;

    svg {
        margin-left: 8px;
        width: 15px;
    }
}

.down {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        margin-left: 5px;
    }
}
