.wrapper {
    width: 100%;
    height: 1500px;
}

.p1,
.p2 {
    display: flex;
    width: 100%;
    height: 800px;
    align-items: center;
    justify-content: center;
}

.p1w {
    width: 60%;
    display: flex;
    height: max-content;
    flex-direction: column;
    align-items: center;
}

.top {
    height: 30px;
    width: 100%;
    font-weight: 600;
    font-size: 25px;
    opacity: 40%;
}

.name {
    width: 100%;
    font-size: 100px;
    font-weight: 700;
}

.desc {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}