@import url("./index.css");

#root {
    height: 100%;
    position: relative;
}

.wrapper {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.s {
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.s-c {
    width: 70%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 800px;
    max-width: 1000px;
}

.head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
}

.name {
    color: white;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.name span.n {
    background: linear-gradient(
        135deg,
        color(display-p3 0.6196 0.4784 1 / 1) 0%,
        color(display-p3 0.9961 0.5451 0.7333 / 1) 33.33%,
        color(display-p3 1 0.7412 0.4784 / 1) 66.67%,
        color(display-p3 0.9725 0.9176 0.7647 / 1) 100%
    );
    background-clip: text;
    color: transparent;
    font-size: 80px;
    width: fit-content;
    font-weight: 700;
}

.name span.desc {
    opacity: 60%;
    font-size: 20px;
}

.bubble {
    position: relative;
    width: fit-content;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 20px;
    background: transparent;
    color: white;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 1;

    &:hover {
        transform: scale(1.01);
    }
}

.bubble::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(
        135deg,
        color(display-p3 0.6196 0.4784 1 / 1) 0%,
        color(display-p3 0.9961 0.5451 0.7333 / 1) 33.33%,
        color(display-p3 1 0.7412 0.4784 / 1) 66.67%,
        color(display-p3 0.9725 0.9176 0.7647 / 1) 100%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    pointer-events: none;
}

.bubble::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(
        135deg,
        color(display-p3 0.6196 0.4784 1 / 1) 0%,
        color(display-p3 0.9961 0.5451 0.7333 / 1) 33.33%,
        color(display-p3 1 0.7412 0.4784 / 1) 66.67%,
        color(display-p3 0.9725 0.9176 0.7647 / 1) 100%
    );
    opacity: 30%;
    z-index: -2;
    pointer-events: none;
}

.headline {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: 130px;

    svg {
        margin-left: 8px;
        width: 15px;
    }
}

.down {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        margin-left: 5px;
    }
}

.s4-content {
    justify-content: center;
    text-align: center;
}

.s-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    .title {
        font-size: 30px;
        font-weight: 800;
    }

    .desc {
        margin-top: 0px;
        font-weight: 600;
        font-size: 20px;
        opacity: 60%;
    }
}

.chat-wrapper {
    width: 700px;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(226, 226, 226, 0.644);
    transition: all 0.2s ease-in-out;
    border-radius: 15px;
    box-shadow: 0 2px 20px 10px rgba(202, 202, 202, 0.205);
    background-color: rgba(44, 44, 44, 0.733);
}

.chat {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.chat-area {
    height: 100px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid transparent;

    display: flex;
    padding: 16px;
    transform: translateZ(0);
    backface-visibility: hidden;

    background: linear-gradient(rgba(37, 37, 37, 0.74), rgba(46, 46, 46, 0.74))
            padding-box,
        repeating-linear-gradient(
                20deg,
                color(display-p3 0.6196 0.4784 1) 0px,
                color(display-p3 0.9961 0.5451 0.7333) 150px,
                color(display-p3 1 0.7412 0.4784) 300px,
                color(display-p3 0.9725 0.9176 0.7647) 450px,
                color(display-p3 0.6196 0.4784 1) 600px
            )
            border-box;

    background-size: auto, 1750px 100%;
    background-position: 0 0, 0 50%;
    background-repeat: repeat;

    animation: shift-gradient 15s linear infinite;
}

@keyframes shift-gradient {
    from {
        background-position-x: 0px, 0px;
    }
    to {
        background-position-x: 0px, 1750px;
    }
}

.chat-box {
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
    resize: none;
    overflow-y: auto;
    outline: none;
    font-weight: 600;
    border: none;
    display: flex;
    color: white;

    &::placeholder {
        color: white;
        font-weight: 600;
    }
}

.chat-box::-webkit-scrollbar {
    width: 10px;
}

.chat-box::-webkit-scrollbar-track {
    background: transparent;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.send-button {
    background-color: black;
    padding: 5px;
    top: 55px;
    right: 11px;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    align-items: center;
    align-self: flex-end;
    border: 2px solid white;

    svg {
        width: 20px;
        fill: white;
    }
}
