@import "./index.css";

.wrapper {
    width: 100%;
    height: 1500px;
}

.p1,
.p2 {
    display: flex;
    width: 100%;
    height: calc(100vh - 250px);
    align-items: center;
    justify-content: center;
    position: relative;
}

.p1w {
    width: 70%;
    display: flex;
    height: max-content;
    flex-direction: column;
    align-items: center;
}

.background-dots,
.top,
.name,
.tagline,
.desc {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    animation-fill-mode: forwards;
    animation: fadeUp 1s ease-out 1s forwards;
}

.background-dots {
    background-image: url(assets/q-ede3aff2.png);
    position: absolute;
    z-index: 100;
    width: 260px;
    height: 154px;
    background-repeat: no-repeat;
    left: 1000px;
    top: 330px;
}

body.dark-mode .background-dots div {
    background-image: linear-gradient(
        135deg,
        color(display-p3 0.6196078431 0.4784313725 1 / 1) 0%,
        color(display-p3 0.9960784314 0.5450980392 0.7333333333 / 1) 33.33%,
        color(display-p3 1 0.7411764706 0.4784313725 / 1) 66.67%,
        color(display-p3 0.9725490196 0.9176470588 0.7647058824 / 1) 100%
    );
}

.background-dots div {
    mask-image: url(assets/q-ede3aff2.png);
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
    background-color: black;
}

body.dark-mode .top {
    color: var(--dark-mode-text-color);
    opacity: 70%;
}

.top {
    height: 30px;
    width: 100%;
    font-weight: 600;
    font-size: 22px;
    opacity: 40%;
    animation: fadeUp 1s ease-out 0.2s forwards;
}

body.dark-mode .name {
    color: rgb(162, 154, 250);
    opacity: 70%;
}

.name {
    width: 100%;
    font-weight: 700;
    font-size: 80px;
    color: #5a4fcf;

    animation: fadeUp 1s ease-out 0.4s forwards;
}

.tagline {
    width: 100%;
    font-size: 60px;
    font-weight: 700;
    animation: fadeUp 1s ease-out 0.6s forwards;
}

.desc {
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    animation: fadeUp 1s ease-out 0.8s forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
        visibility: hidden;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}
