@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    margin: 0;
    padding: 0;

    font-family: "Montserrat";
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --light-mode-bg-color: #fffaf2;
    --light-mode-text-color: #000000;

    --dark-mode-bg-color: #242424;
    --dark-mode-text-color: #ffffffde;
}

span,
a {
    margin-top: 2px;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;

    transition: all 0.2s ease-in-out;
    background-color: var(--light-mode-bg-color);
}

body.dark-mode {
    background-color: var(--dark-mode-bg-color);

    .lucide-moon {
        display: none;
    }

    .lucide-sun {
        display: flex;
    }

    #root {
        color: var(--dark-mode-text-color);
    }
}

#root {
    color: black;
    max-width: 1500px;
    width: 100%;
}
