@charset "UTF-8";

:root {
    font-family: system-ui;
    line-height: 1.5;
    font-weight: 400;

    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0a0a0a;
    color: white;
}

ul {
    margin: 0;
}

button,
input,
select,
optgroup,
textarea,
::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
}
